extends base.pug
block scripts
  script(src='/static/index.js')
block style
    style
        include ../static/style.css
block content

    section#introSection
        div Welcome to Bhupendra's Dance Academy
        div.small Eat Sleep Dance Repeat 


    section#missionSection
        h2 Our Mission
        div.card
            h3 Make Dance Easy
            div.card-box
                div.card-img
                    img(src="/static/l3.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 To Get Perfection
            div.card-box
                div.card-img
                    img(src="/static/l9.png")
                div.card-content
                    p This is the best dance academy of the universe
        div.card
            h3 Dancing In Your Way
            div.card-box
                div.card-img
                    img(src="/static/l2.png")
                div.card-content
                    p This is the best dance academy of the universe
    section#sponserSection
        h2 Our sponsers
        div#sponsers
            img(src="/static/7.png",class="spimg" alt="")
            img(src="/static/4.png",class="spimg" alt="")
            img(src="/static/5.png",class="spimg" alt="")
            img(src="/static/fb.svg",class="spimg" alt="")
            img(src="/static/1.png",class="spimg" alt="")

    